* {
    padding: 0;
    margin: 0;
  }
.list_item {
    list-style: none;
    display: flex;
    column-gap: 5px;
    font-size: 14px;
}
.icon {
    color: rgb(21, 196, 196);
    font-size: larger; 
}
.title {
    font-weight: bolder;
}
.content {
    color: darkgray;
}